<%-include('include/_header')%>
<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex jusitfy-between">
            <a href="/" class="border-shadow">
                <span class="text-gradient"> All Users </span>
            </a>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">Update User</h2>
            <span class="text-light"
                >Use the below form to create a new account</span
            >
        </div>
        <form method="POST" id="update_user">
            <div class="new_user">

                <!-- name -->
                <div class="form-group">
                    <label for="name" class="text-light">Name</label>
                    <input type="hidden" name="id" value="<%=user._id%>" />
                    <input
                        type="text"
                        name="name"
                        value="<%=user.name%>"
                        placeholder="Mark Stoinks"
                    />
                </div>
                <!-- email -->
                <div class="form-group">
                    <label for="email" class="text-light">Email</label>
                    <input
                        type="text"
                        name="email"
                        value="<%=user.email%>"
                        placeholder="example@gmail.com"
                    />
                </div>
                <!-- gender -->
                <div class="form-group">
                    <label for="gender" class="text-light"
                        >Gender</label
                    >
                    <div class="radio inline">
                        <input
                            type="radio"
                            name="gender"
                            value="Male"
                            placeholder="example@gmail.com"
                            <%= user.gender=="Male"?'checked':'' %>    

                        />
                        <label for="gender" class="text-light"
                            >Male</label
                        >
                    </div>
                    <div class="radio inline">
                        <input
                            type="radio"
                            name="gender"
                            value="Female"
                            placeholder="example@gmail.com"
                            <%= user.gender=="Female"?'checked':'' %>    

                        />
                        <label for="gender" class="text-light">
                            Female</label>
                        
                    </div>
                    
                <!-- status -->
                <div class="form-group">
                    <label for="status" class="text-light"
                        >Status</label
                    >
                    <div class="radio inline">
                        <input
                            type="radio"
                            name="status"
                            value="Active"
                            placeholder="example@gmail.com"
                            <%= user.status=="Active"?'checked':'' %>    
                        />
                        <label for="gender" class="text-light"
                            >Active</label
                        >
                    </div>
                    <div class="radio inline">
                        <input
                            type="radio"
                            name="status"
                            value="Inactive"
                            placeholder="example@gmail.com"
                            <%= user.status=="Inactive"?'checked':'' %>    
                        />
                        <label for="gender" class="text-light">
                            Inactive</label>
                        
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn text-dark update">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>
<%-include('./include/_footer.ejs')%>
